.footer {
    //margin: 50px 0 0 0;
    position: relative;
    text-align: left;
    color: #fff;
    @include gradient-horizontal(#21314A, #1D3551, 0%, 100%);
    &_wrap {
		padding: 0 30px 30px 30px;
		
    }
    &_links {
	    //@include gradient-horizontal(#1D3551, #3C6D7E, 0%, 100%);
	    
	    padding: 30px;
	    //margin-top: -50px;
	    &_h3 {
	    	font-weight: 300;
	    	font-size: 18px;
	    }
	}
}