.footer {
	background-color: #171B1E;
	color: #fff;
	padding: 30px 0;
   &_phone {
   	font-size: 24px;
   	font-weight: 300;
   	font-family: $font-family-cond;
   }
   &_h3 {
   	font-family: $font-family-cond;
   	font-weight: 700;
   	font-size: 22px;
   }
}