//NAVBAR

nav {
	background-color: $background-navbar;
	min-height:90px;
	line-height:90px;
	position: relative;	
	color:$navbar-color;
	z-index: 30;
	transition-duration: 0.1s;
	ul {
		padding: 0;		
		//@include centerer(true, false);
		li {
			display: inline-block;
			list-style-type: none;
			padding: 0 20px;
			font-size:18px;
			font-weight:300;
			a {
				color: inherit;
			}
		}
	}
}
.nav_white {
	color: #fff;
	
}
.nav_w {
	
	fill: #fff;
}
.nav {
	&_phone {
		font-size:22px;
		font-weight:700;
	}
	&_menu {
		span {
			padding: 0 5px 5px 0;
		}
		.tIcons {
			padding-top:3px;
		}
	}
}
.logo {
	padding: 0 20px;
	font-weight:900;
	font-size:24px;
	font-weight:900;
	color: inherit;
	
}
.menu-expand {
	backface-visibility: hidden;
    background: rgba(2, 23, 37, 0.96) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    //text-align: center;
    top: 0;
    transform: translateY(-100%);
    transition-duration: 0.4s;
    transition-property: transform;
    width: 100%;
    z-index: 1;
    color: #fff;
}
.menu-is-open {
	transform: translateY(0px);
}
.nav_content {
	@include centerer(true, true);
}
.tIcons_button {
	color: inherit;
}
//NAVBAR


.svga:hover {
	text-decoration:none;
}
#lines {
	//opacity: 0;
}
.team, .price, .port {
	opacity: 0;
}
.mi {

}

//MENU_ICON
.tIcons svg {
	fill:$navbar-color;
	transition-duration: 0.4s;
}
a.tIcons {
  display: inline-block;
  width: 1.5em;
  height: 1.25em;
  position: relative;
}
a.tIcons svg {
  width: 100%;
  display: block;
  position: absolute;
  transition-duration: 0.4s;
}
a.tIcons svg:first-child {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out;
}
a.tIcons svg:last-child {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: 0.2s ease-in-out;
          transition: 0.2s ease-in-out;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
a.tIcons.toggle svg:first-child {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
a.tIcons.toggle svg:last-child {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
a.tIcons.tRotate svg:last-child {
  -webkit-transform: scale(0) rotate(0deg);
      -ms-transform: scale(0) rotate(0deg);
          transform: scale(0) rotate(0deg);
}
a.tIcons.tRotate.toggle svg:last-child {
  -webkit-transform: scale(1) rotate(-360deg);
      -ms-transform: scale(1) rotate(-360deg);
          transform: scale(1) rotate(-360deg);
}
//MENU_ICON