// Scaffolding

$font-family-base: 'Roboto', sans-serif;
$font-family-cond: 'Roboto Condensed', sans-serif;
$font-size-base: 16px;

// Scaffolding

//COLORS

$dark: #171B1E;
$gold: #FBC82B;
$grey: #333;

//COLORS

// Navbar

$navbar-height:100px;
$navbar-color: #333;
//$background-navbar: #171B1E;
$background-navbar: transparent;
$background-navbar-expand: #171B1E;

// Navbar

//FOOTER



//FOOTER

// BUTTONS

$btn-font-weight: 'Roboto', sans-serif;

// BUTTONS

// Typography

$headings-font-weight: 700;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

// Typography

//BREADCRUMBS

$breadcrumb-bg: transparent;
$breadcrumb-color: #333;

//BREADCRUMBS
