// Scaffolding

$font-family-base: 'Roboto', sans-serif;

// Scaffolding

//COLORS

$dark:#000;
$blue:#0198F3;

//COLORS

// Navbar

$navbar-height:100px;
$navbar-color: #333;
//$background-navbar: #171B1E;
$background-navbar: transparent;
$background-navbar-expand: #171B1E;

// Navbar

//FOOTER



//FOOTER

// BUTTONS

$btn-font-weight: 'Roboto', sans-serif;

// BUTTONS

// Typography

$headings-font-weight: 700;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

// Typography
