@import "variables";
@import "mixins";
@import "bootstrap";
@import "footer";
@import "google-maps";
@import "navbar";
@import "contacts";
@import "buttons";
@import "portfolio";
@import "_materialize.scss";
@import "../libs/font-awesome/css/font-awesome.min.css";


a {
	transition: all 0.25s ease-in 0s;
}

.home_screen {
	height: 125vh;
	//background-color: #DCDDDE;
	background-color: #fff;
	width: 100%;
	position: relative;
}
.home_screen2 {
	height: 100vh;
	
	position: relative;
}
.border {
	border-right:1px solid #333;
	height: 100px;
	width: 100%;
}
ul, ol {
    margin: 0;
 }

.h11 {
	top: 56%;
	left: 27%;
}
.h12 {
	top: 36%;
	left: 50%;
}
.h14 {
	top: 12%;
	left: 9%;
	color: #333;
	opacity: 1;
	span {
		color: #35334C
	}
}

input, textarea {
  font-family: $font-family-base;
  font-size: 1.6rem;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
input[type="submit"], textarea[type="submit"] {
  border: none;
  cursor: pointer;
}


.breadcrumb a {
	color: $breadcrumb-color;
}







[type="checkbox"] + label {
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
    height: 25px;
    line-height: 25px;
    padding-left: 35px;
    position: relative;
}

output {
    display: block;
}
.main, .mainp {
    display:none;
}